<p><%= I18n.t("devise.mailer.password_change.hello", :email => @resource.email, :default => "Hello %{email}!") %></p>

<p><%= I18n.t("devise.mailer.password_change.password_has_been_changed", :default => "We're contacting you to notify you that your password has been changed.") %></p>
